:root {
  --branco: #FFFFFF;
  --preto: #000000;
  --azul-escuro: #023D54;
  --azul-medio: #1481AC;
  --azul-claro: #4FA5C5;
}

* {
  padding: 0;
  margin: 0;
}

.conteiner {
  display: flex;
  justify-content: space-between;
  background-color: var(--preto);
  color: var(--branco);

}

.logo {
  display: grid;
  padding: 15px;
}

.btn {
  display: flex;
  gap: 45px;
  padding: 5px;
  margin: 10px 10px;
  width: 50%;
  justify-content: end;
}

.entrar {
  padding: 10px;
  width: 25%;
  border-radius: 15px;
  background-color: var(--azul-medio);
  color: var(--branco);
  font-size: 23px;
}

.inscrever {
  padding: 10px;
  border-radius: 15px;
  background-color: var(--azul-medio);
  color: var(--branco);
  font-size: 23px;
  width: 25%;
}

.img {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url(./assets/backgroundimage.jpg);
  color: white;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.content1{
  border: 4px solid var(--azul-medio);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 5px;
  min-width: 338px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content2{
  border: 4px solid var(--azul-medio);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 5px;
  min-width: 338px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content3{
  border: 4px solid var(--azul-medio);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 5px;
  min-width: 338px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto {
  text-align: center;
  
}

.imgdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 80px;
  width: 100%;
  height: 50vh;
}

.footer {
  bottom: 0;
  position: fixed;
  padding: 20px;
  background-color: var(--azul-claro);
  position: fixed;
  bottom: 0 auto;
  position: relative;
  text-align: center;
}